{% extends '_layout.html' %}

{% block content %}
<div class="mt-4 grid grid-cols-1 gap-4 sm:grid-cols-3">
	<div class="col-span-1 h-16 mx-auto sm:mx-4 grid grid-cols-2 sm:grid-cols-2 gap-2">
		<button id="demo1-btn" onclick="viewPage('demo1')" class="px-2 border border-gray-500 rounded-sm bg-yellow-500">HTML Form</button>
		<button id="demo2-btn" onclick="viewPage('demo2')" class="px-2 border border-gray-500 rounded-sm">Google Form</button>
		<button id="demo3-btn" style="display: none;"></button>
		<button id="demo4-btn" style="display: none;"></button>
	</div>

	<div class="col-span-2 grid place-items-center p-1 flex-1">
		<div id="demo1" class="w-full h-full">
			<!-- html form -->
			<form class="flex flex-col space-y-4">
				<div class="grid sm:grid-cols-2">
					<div class="flex flex-col">
						<label for="first-name">First Name</label>
						<input
							class="mx-2 px-2 py-1 border-b border-black placeholder-shown:italic focus:outline-none"
							placeholder="John"
							type="text" name="first-name" id="first-name">
					</div>
					<div class="flex flex-col">
						<label for="last-name">Last Name</label>
						<input 
							class="mx-2 px-2 py-1 border-b border-black placeholder-shown:italic focus:outline-none"
							placeholder="Doe"
							type="text" name="last-name" id="last-name">
					</div>
				</div>
				<div class="flex flex-col space-y-1">
					<label for="address-line-1">Address</label>
					<input type="text" name="address-line-1" id="address-line-1"
						placeholder="501 Gloucester St"
						class="mx-2 px-2 py-1 border-b border-black placeholder-shown:italic focus:outline-none"
					>
					
					<div class="grid gap-1 sm:grid-cols-2">
						<div class="flex flex-col">
							<label for="address-city">Town / City</label>
							<input type="text" name="address-city" id="address-city"
								placeholder="Napier"
								class="mx-2 px-2 py-1 border-b border-black placeholder-shown:italic focus:outline-none"
							>
						</div>

						<div class="flex flex-col">
							<label for="address-postcode">Postcode</label>
							<input type="number" name="address-postcode" id="address-postcode"
								placeholder="4112"
								class="mx-2 px-2 py-1 border-b border-black placeholder-shown:italic focus:outline-none"
							>
						</div>
					</div>
				</div>

				<div class="flex flex-col">
					<label>Gender</label>
					<ul class="flex space-x-4">
						<li>
							<input type="radio" name="gender" value="male" id="gender-male">
							<label for="gender-male">Male</label>
						</li>
						<li>
							<input type="radio" name="gender" value="female" id="gender-female">
							<label for="gender-female">Female</label>
						</li>
						<li>
							<input type="radio" name="gender" value="neutral" id="gender-neutral">
							<label for="gender-neutral">Neutral</label>
						</li>
					</ul>
				</div>

				<div class="flex flex-col">
					<label>Mobile Phone Type</label>
					<ul class="flex space-x-4">
						<li>
							<input type="radio" name="phone-type" value="windows" id="phone-windows">
							<label for="phone-windows">Windows</label>
						</li>
						<li>
							<input type="radio" name="phone-type" value="apple" id="phone-apple">
							<label for="phone-apple">Apple</label>
						</li>
						<li>
							<input type="radio" name="phone-type" value="android" id="phone-android">
							<label for="phone-android">Android</label>
						</li>
						<li>
							<input type="radio" name="phone-type" value="other" id="phone-other">
							<label for="phone-other">Other</label>
						</li>
					</ul>
				</div>

				<div class="flex flex-col">
					<label for="mobile-provider">Mobile Provider</label>
					<select name="mobile-provider" id="mobile-provider"
					class="mx-2 px-2 py-1 border-b border-black placeholder-shown:italic focus:outline-none"
					>
						<option value="spark">Spark</option>
						<option value="vodafone">Vodafone</option>
						<option value="2degrees">2Degrees</option>
						<option value="skinny">Skinny</option>
						<option value="warehouse">Warehouse Mobile</option>
						<option value="compass">Compass</option>
						<option value="blue_sky">Blue Sky</option>
						<option value="slingshot">Slingshot</option>
					</select>
				</div>

				<div class="flex flex-col">
					<label for="study-reason">Do you use your phone for study?</label>
					<textarea name="study-reason" id="study-reason" rows="4" placeholder="please explain..."
						class="focus:outline-none border border-black rounded-sm mx-2 p-2"
					></textarea>
				</div>

				<div class="grid sm:grid-cols-2 gap-2">
					<button class="flex-1 py-2 rounded hover:shadow font-semibold text-blue-600 " type="reset">Reset</button>
					<button class="flex-1 py-2 rounded shadow font-semibold bg-blue-500 text-white hover:bg-blue-400" type="submit">Submit</button>
				</div>
			</form>
		</div>
		<div id="demo2"></div>

		<div id="demo3" style="display: none;"></div>
		<div id="demo4" style="display: none;"></div>
	</div>
</div>
{% endblock %}
